<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>New Page 1.html</title>
</head>

<body>
  <header>
    <h1><a href="/">&#x7B;&#x7B;insert-name-here&#x7D;&#x7D;</a></h1>
    <nav>
      <ul>
        {{#if session.isLoggedIn}}
        <li>
          <a href="/user/profile/{{session.user.id}}">{{session.user.username}}</a>
        </li>
        <li>
          <a href="/user/logout">Log Out</a>
        </li>
        {{else}}
        <li>
          <a href="/user/login">Log in / sign up</a>
        </li>
        {{/if}}
      </ul>
    </nav>
  </header>
  {{{body}}}
</body>

</html>