<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/assets/css/style.css">
  <title>pair.pro</title>
</head>

<body>
  <script src="https://use.fontawesome.com/3636289a8c.js"></script>
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item title is-1 mb-0" href="/">
        <h1>pair.pro</h1>
      </a>
      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbar-menu">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbar-menu" class="navbar-menu">
      <div class="navbar-start">
        {{#if session.isLoggedIn}}
        <a class="navbar-item subtitle is-3 mb-0" href="/user/dashboard">Dashboard</a>
        <a class="navbar-item subtitle is-3 mb-0" href="/user/message_screen">Messages</a>
        {{/if}}
      </div>
      <div class="navbar-end">
        {{#if session.isLoggedIn}}
        <a class="navbar-item subtitle is-3" href="/user/logout">Log Out</a>
        {{else}}
        <a class="navbar-item subtitle is-3 mb-0" href="/user/login">Log in</a>
        <a class="navbar-item subtitle is-3" href="/user/signup">Sign up</a>
        {{/if}}
      </div>
    </div>
  </nav>
  {{{body}}}
  <script src="/assets/js/nav-burger.js"></script>
</body>

</html>