<div class="columns is-mobile is-centered">
  <div class="column is-11">
    <div class="card">
      <figure class="image is-4x3">
        <img src="/assets/img/testpattern.png" alt="Error">
      </figure>
      <h2>Something went wrong :( {{err.message}}</h2>
    </div>
  </div>
</div>