<div class="columns is-mobile is-centered">
  <div class="column is-11">
    <div class="card message-form mt-6">
      <section class="card-header messages-container">
        <div class="stored-messages">
            <h2>Messages</h2>
            <ul class="messages-list">
              {{#each existingMessages}}
              <li>{{body}}</li>
              {{/each}}
            </ul>
        </div>
        <form>
            <input type="text">
            <textarea>Enter message here</textarea>
        </form>
        </section> 
       <script src="TBD" type="module"></script> 
    </div>
  </div>
</div>