<div class="columns is-mobile is-centered">
  <div class="column is-11">
    {{#each partners}}
    <div class="card">
      {{> user/card_header}}
      <div class="card-content"><a href="profile/{{userId}}">View Profile</a></div>
    </div>
    {{/each}}
  </div>
</div>