<h3>{{get_editskillpage_title type}}</h3>
<table class="table">
  {{#each this}}
  {{> skill/skillrank}}
  {{/each}}
  <button class="button is-hidden" data-type="{{type}}" id="change-skills">Update skills</button>
</table>